		<tr>
			<td colspan=2 style="text-align: center; vertical-algin: middle; line-height: 2em">
			<span style="font-size: 2em;"><TMPL_VAR NAME=DOORNAME></span>
			</td>
		</tr>
		<tr>
			<td style="text-align: right; vertical-align: top; color: darkgrey; padding: 10px; line-height: 1.5em">
			1:<br>
			2:<br>
			3:<br>
			4:<br>
			5:<br>
			6:<br>
			7:<br>
			8:<br>
			9:<br>
			10:<br>
			</td>
			<td style="text-align: left; vertical-align: top; padding: 10px; line-height: 1.5em">
			<TMPL_VAR NAME=LOG1><br>
			<TMPL_VAR NAME=LOG2><br>
			<TMPL_VAR NAME=LOG3><br>
			<TMPL_VAR NAME=LOG4><br>
			<TMPL_VAR NAME=LOG5><br>
			<TMPL_VAR NAME=LOG6><br>
			<TMPL_VAR NAME=LOG7><br>
			<TMPL_VAR NAME=LOG8><br>
			<TMPL_VAR NAME=LOG9><br>
			<TMPL_VAR NAME=LOG10><br>
			</td>
		</tr>